@media (max-width: 768px){
    body {
        .parte1 font-family: 'Vina Sans', sans-serif;
         margin: 0;
         padding: 0;
     }
 
    font-size: 16px;
    
    .container {
    width: 90%;
    margin: 0 auto;
    }
    ol,
    ul {list-style: none;}
    a{text-decoration: none;}
    body{background-color: rgb(40, 79, 76);}
    ul {color: blue;}
    .acerca{background-color: burlywood;
        padding: 50px;
        margin: 50px;
        border: 5px solid color black;}
        .web {color: red;}
        header{display:flex ;
            background-color: rgb(42, 165, 63);
            padding: 1%;
            border: 1%;
            margin: 1%;
            height: px;
            width: 350px;
            height: px;
            width: 350px;
            text-align: center;
            
         

    flex-direction: row;
    align-items: center;
    justify-content: space-between;}
    nav ul {display: flex;
    gap: 1.1em
    ;}
    header a i {color: red;
    font-size: 3em;
    padding: 0.5;}


    
    .parte1{  
        text-align: center;
      padding: 2%;
    display: flex;justify-content: center;
    align-items: center;
    display: grid;
  
    
    }
    main .item{
        text-align: center;
        display: flex;
        justify-content: center;
        width: 200px;
        height: auto;
    }
    .cuadros{background-color: burlywood;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: 5%;
    
        
    }
    .cuadro1{background-color: aqua;
        text-align: center;
        align-items: flex-start;
        padding: 1%;
        border: 1%;
        margin: 1%;
        border-radius: 25% 10%;
        height: px;
        width: 350px;
        border-radius: 25% 10%;
        height: px;
        width: 350px;}
    



    }
    /*estilo para pantallas mas pequeñas*/
 @media (min-width: 767px){
        font-size: 18px;
      
        .container {
        width: 80%;
        margin: 0 auto;
        }

        ol,
ul {list-style: none;}
a{text-decoration: none;}
body{background-color: rgb(40, 79, 76);}
ul {color: blue;}
.acerca{background-color: burlywood;
    padding: 50px;
    margin: 50px;
    border: 5px solid color black;}
    .web {color: red;}
    header{display:flex ;
        background-color: rgb(42, 165, 63);
        

        
flex-direction: row;
align-items: center;
justify-content: space-between;}
nav ul {display: flex;
gap: 1.1em
;}
header a i {color: red;
font-size: 3em;
padding: 0.5;}

.parte1{  
    text-align: center;
  padding: 2%;
display: flex;justify-content: center;
align-items: center;
display: grid;

}

main .item{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 200px;
    height: auto;
    
}
.cuadros{background-color: rgb(159, 102, 28);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 5%;

    
}
.cuadro1{background-color: aqua;
    text-align: center;
    align-items: flex-start;
    align-items: flex-start;
    padding: 1%;
    border: 1%;
    margin: 1%;
    border-radius: 25% 10%;
    height: px;
    width: 350px;
    border-radius: 25% 10%;
    height: px;
    width: 350px;}


    }

    @media only screen and (max-width: 768px) {
        img {
          width: 70%;
          height: auto;
          
        }
      }

      @media only screen and (min-width: 767px) {
        img {
          width: 100%;
        }
      }

      /* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (min-width: 700px) {
  .form-header {
    padding: 50px;
  }

  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .form-row input[type="text"] {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
}

/* ------------- CSS General ------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #5d6063;
  background-color: #eaedf0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

/* ------------- Encabezado Contacto ------------- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header {
  text-align: center;
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  margin: 10px auto;
  padding: 50px;
}

.form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

/* ------------- Formulario ------------- */

.formulario {
  background-color: #f6f7f8;
  border: 1px solid #d6d9dc;
  border-radius: 3px;

  width: 80%;
  padding: 50px;
  margin: 30px 0 40px 0;
}

/* ------------- Campos del Formulario ------------- */

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type="text"],
 .form-row input[type="email"]  {
  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 3px;
  text-align: initial;
}

.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;


  background-color: #bdbdbd;
  border: 0;
  border-radius: 6px;


  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;


  width: 100%;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;


  color: #ffffff;
  background-color: #5995da;


  border: none;
  border-radius: 3px;


  padding: 10px 40px;
  cursor: pointer;
}


.form-row button:hover {
  background-color: #76aeed;
}


.form-row button:active {
  background-color: #407fc7;
}


/* ------------- Para Pantallas de más de 700px ------------- */


.form-row button {
    margin-left: 120px;






 


        



